
*.class

#Eclipse files
**/.project
**/.classpath
**/.settings/
**/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle
*.iws
*.ipr
*.html

#Gradle temporary files
target/

# Build files #
**/build
**/classes/*
out/*
server/statistics/*
server/out/*
integration-test/statistics/*

*.attach*
**/statistics/*

### docker ###
.docker
.dockerignore
